absl-py==2.1.0
annotated-types==0.6.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
audioread==3.0.1
backports.weakref==1.0.post1
Bottleneck==1.4.0
brotlipy==0.7.0
conda-repo-cli==1.0.75
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.1.1
dacite==1.8.1
datashape==0.5.4
Deprecated==1.2.14
et-xmlfile==1.1.0
flask-ngrok==0.0.25
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.63.0
gunicorn==21.2.0
h5py==3.11.0
html-parser==0.2
htmlmin==0.1.12
ImageHash==4.3.1
inflection==0.5.1
joblib==1.1.1
jsonpointer==2.1
kaggle==1.6.12
keras==3.3.3
libclang==18.1.1
librosa==0.10.2
missingno==0.5.2
mkl-service==2.4.0
ml-dtypes==0.3.2
multimethod==1.11.2
munkres==1.1.4
namex==0.0.8
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
pandas==2.2.2
pandas-profiling==3.2.0
patsy==0.5.3
pep8==1.7.1
phik==0.12.4
ply==3.11
pooch==1.8.1
protobuf==3.20.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
pydantic==2.7.1
pydantic_core==2.18.2
PyDispatcher==2.0.5
PyGithub==2.1.1
pyls-spyder==0.4.0
PyQt5==5.15.7
PyQtWebEngine==5.15.4
python-lsp-jsonrpc==1.0.0
pywin32==305.1
queuelib==1.5.0
rich==13.7.1
scikit-learn-intelex==20230426.121932
scipy==1.11.1
soundfile==0.12.1
soxr==0.3.7
tangled-up-in-unicode==0.2.0
TBB==0.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
textblob==0.17.1
texttable==1.7.0
typeguard==4.2.1
typing_extensions==4.11.0
visions==0.7.6
webencodings==0.5.1
wordcloud==1.9.3
ydata-profiling==4.8.3
zstandard==0.19.0
